.logo {
  max-width: 100%;
  height: auto;
}
.card-header {
  font-size: 30px;
}
.card {
  margin-top: 10px;
  margin-bottom: 100px;
}
.box1-container {
  position: relative; /* Necesario para el posicionamiento absoluto del círculo */
  margin-bottom: 10px;
}
.slide-in {
  animation: slide-in 2s forwards;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%); /* Comienza desde fuera de la pantalla a la izquierda */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Termina en su posición original */
    opacity: 1;
  }
}

/* Ajustes específicos para pantallas más pequeñas */
@media (max-width: 1900px) {
  .imagenPrincipal {
    padding-top: 0px; /* Reducir el padding-top en pantallas más pequeñas */
    height: auto;
    margin: auto; /* Asegurarse de que el contenido esté centrado */
  }
  .box1-container {
    margin-top: 100px; /* Reducir el margen superior en pantallas más pequeñas */
  }
}
