<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - Lugo</title>
</head>
<app-nav></app-nav>
<body class="fondo">
  <div>
      <!-- Box de logo y la imagen principal -->
      <div class="container">
        <div class="box1-container">
          <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
              <img class="logo slide-in" src="../../../assets/ImgLUGO/LUGO-Black.png" alt="Lugo Logo">
            </div>
            <div class="col-4">
            </div>
          </div>
        </div>
      </div>
      <!-- Box de información del sitio web -->
      <div class="container">
        <div class="box2-container">
          <div class="row">
            <div class="acerca">
              <div class="card">
                <div class="card-header">
                  <strong>Acerca de LUGO</strong>
                </div>
                <div class="card-body">
                  <div class="row">
                    <blockquote class="col">
                      <p>Lugo es un avanzado sistema web diseñado específicamente para la gestión 
                        integral de pedidos en el ámbito de la cocina de establecimientos de alimentos 
                        y bebidas. Este sistema no solo optimiza el proceso de administración de pedidos,
                        sino que también mejora la eficiencia operativa y ofrece una experiencia de 
                        atención al cliente mucho más fluida y agradable.
                      </p>
                    </blockquote>
                    <blockquote class="col">
                      <p>Con Lugo, los establecimientos pueden gestionar todos los aspectos del 
                        ciclo de pedidos, desde la recepción inicial hasta la preparación y 
                        entrega final. La plataforma proporciona una interfaz intuitiva que 
                        facilita la visualización en tiempo real de los pedidos, permitiendo 
                        a los equipos de cocina y al personal de servicio mantener un flujo de
                        trabajo organizado y sincronizado.</p>
                    </blockquote>
                  </div>
                  <footer class="blockquote-footer">Equipo de LUGO </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <app-footer></app-footer>
</body>
</html>
