
<body class="fondo">
  <header class="hero">
            <div class="hero-content">
              <h1>Bienvenido a LUGO</h1>
              <img  class="logo-g" src="../../../assets/ImgLUGO/G BLANCOldpi.png">
              <p>Optimiza la operación de tu restaurante y mejora la experiencia del cliente.</p>
              <a href="#about" class="btn btn-secondary">Saber Más</a>
    </div>
  </header>
  <section id="about" class="about-us">
    <div class="container">
      <div class="text"> 
        <h2>¿Quiénes Somos?</h2>
        <p>
          Somos una empresa líder en la gestión de pedidos y atención al cliente, comprometida con ofrecer soluciones que mejoren
           la eficiencia y la calidad del servicio en todo tipo de negocios. Nuestro objetivo es proporcionarte herramientas digitales
            innovadoras que se adaptan a las necesidades de los restaurantes, permitiéndote optimizar tus procesos, mejorar
             la experiencia de tus clientes y aumentar tu productividad. Con un enfoque centrado en la tecnología y la atención al detalle,
              nos aseguramos de estar a la vanguardia para ofrecerte un servicio confiable, ágil y que potencie el crecimiento de tu negocio.
        </p>
      </div>
      <div class="image">
        <img src="../../../assets/image/img-homepage/about1.jpg" alt="Sobre Nosotros">
      </div>
    </div>
  </section>
  <section id="features" class="features">
    <h2>Nuestras Características</h2>
    <div class="feature-list">
      <div class="feature-item">
        <img src="../../../assets/image/img-homepage/feature1.jpg" alt="Calidad">
        <h3>Calidad</h3>
        <p>Ofrecemos productos con los más altos estándares de 
          calidad, garantizando un rendimiento óptimo.</p>
      </div>
      <div class="feature-item">
        <img src="../../../assets/image/img-homepage/feature3.jpg" alt="Innovación">
        <h3>Innovación</h3>
        <p>Nos mantenemos a la vanguardia en soluciones tecnológicas,
           adoptando las últimas tendencias del mercado.</p>
      </div>
      <div class="feature-item">
        <img src="../../../assets/image/img-homepage/feature2.jpg" alt="Soporte">
        <h3>Soporte 24/7</h3>
        <p>Siempre estamos disponibles para ayudarte en todo momento, sin importar la hora o el día. 
        </p>
      </div>
    </div>
  </section>

  <section id="cta" class="cta">
    <div class="cta-content">
      <h2>¿Listo para Mejorar tu Restaurante?</h2>
      <p>Comienza a optimizar tu restaurante con nuestra solución.</p>
    </div>
  </section>

  <app-footer></app-footer>
</body>
