<app-nav></app-nav><br><br>
<div class="fondo">
    <br><br>
    <div class="container">
        <div class="d-flex flex-column align-items-center mt-2">
            <h2 class="titulo"><strong>Generar Menu</strong></h2>
            <img class="li" src="../../../../../assets/image/linea.png">
            <br>
        </div>
       <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <div class="container mt-0 mb-5 pt-2 rounded-3 t1">
                            <div class="apartadoImg text-center">
                                <div class="d-flex flex-column align-items-center">
                                    <!-- Card estilo libro para mostrar la imagen seleccionada -->
                                    <div class="card book-card" [ngClass]="{'dark-mode-card': tema === 'dark-theme'}">
                                        <div class="card-body">
                                            <h5 class="card-title">Portada del Menu</h5>
                                            <!-- Mostrar la imagen seleccionada dentro del card -->
                                            <div class="d-flex justify-content-center">
                                                <img *ngIf="imgPortada !== 'assets/image/27002.jpg'" [src]="imgPortada" class="img-fluid book-image" alt="Imagen seleccionada">
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between align-items-center">
                                            <label class="form-check form-switch mb-0">
                                                <input class="form-check-input" type="checkbox" id="themeSwitch" (change)="cambiarTema($event)">
                                                <span class="form-check-label" for="themeSwitch">Tema Oscuro</span>
                                            </label>
                                            <div class="spacer"></div>
                                            <label for="archivo-portada" class="btn btn-editar mt-2 mx-1" data-bs-toggle="collapse">
                                                <i class="bi bi-plus-square-dotted"></i> Subir Portada
                                            </label>
                                            <label class="btn btn-aceptar mt-2 mx-1" (click)="guardarMenu()">
                                             Guardar Menu
                                            </label>
                                        </div>
                                    </div>
                                    <!-- Input para seleccionar imagen -->
                                    <input type="file" id="archivo-portada" class="visually-hidden" (change)="onFileSelected($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row row-nav">
                        <ul class="nav nav-underline justify-content-center mb-4">
                            <li class="nav-item ms-3" (click)="cambiarCategoria(0)">
                                <a class="nav-link" [class.active]="activeCategoria === 0" role="tab" aria-controls="categoria0"
                                    aria-selected="true">Todas</a>
                            </li>
                            <li class="nav-item ms-3" *ngFor="let categoria of categorias;" (click)="cambiarCategoria(categoria.id)">
                                <a class="nav-link" [class.active]="activeCategoria === categoria.id" role="tab"
                                    aria-selected="false">{{ categoria.nombre }}</a>
                            </li>
                            <!-- Agrega más elementos de navegación según sea necesario -->
                        </ul>
                    </div>
            
                    <div class="platillos row">
            
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let platillo of platillosFiltrados">
                            <div class="card mb-3 position-relative" >
                                <input type="checkbox" class="position-absolute top-0 end-0 m-3 check-img "
                                    id="{{ 'check-plat' + platillo.id }}" (click)="cambiarDisponibilidadPlato($event,platillo.id)" [checked]="platillo.plato_disponible_menu">
                                <img [src]="baseUrl+platillo.imagen" id="{{ 'img-card-plat' + platillo.id }}"
                                    class="card-img-top imgn img-fluid w-100" alt="Platillo" (error)="onImgError($event)" />
                                <div class="card-body">
                                    <div class="row">
                                        <h6 class="card-title mb-1">{{ platillo.nombre }}</h6>
                                        <p class="card-text small mb-0">{{ platillo.descripcion }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="d-flex justify-content-between">
                                                <small class="card-text mb-0">{{ platillo.categoria.nombre }}</small>
                                                <small class="card-text mb-0">{{ platillo.precio+' bs' }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div> 
            </div> 
       </div>
    </div>
    <br><br><br>
</div>
<lib-ng-toast></lib-ng-toast>