.btn-custom {
    background-color: #1E1E1E;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
.btn-custom:hover {
    background-color: #333333;
}