<div class="contenedor-slider " >
  <div class="vista-principal position-relative mx-2">
    <button class="btn-navegacion p-lg-3 anterior position-absolute top-50 start-0 translate-middle-y"
      (click)="this.cambiarPedido(-1)">
      <i class="bi bi-chevron-left"></i>
    </button>

    <div class="detalles-pedido px-lg-5 px-1 pt-lg-0 pt-5 pb-3 swipe-container" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
      <div class="row h-100">
        <div class="detalles-pedido-header rounded-top d-flex justify-content-between p-1" [ngClass]="{
          'terminado': pedidoSeleccionado.estado === 'Servido',
          'en-preparacion': pedidoSeleccionado.estado === 'En preparación',
          'default': pedidoSeleccionado.estado !== 'Servido' && pedidoSeleccionado.estado !== 'En preparación'
        }">
          <div>
            <h5 class="modal-title ms-2 d-flex align-items-center" id="exampleModalLabel">
              <!-- Ícono siempre visible -->
              <i *ngIf="pedidoSeleccionado.tipoPedido === 'llevar'" class="bi bi-bag-fill icon-large"></i>
              <i *ngIf="pedidoSeleccionado.tipoPedido === 'local'" class="bi bi-house-door-fill icon-large"></i>

              <!-- Texto oculto en pantallas pequeñas -->
              <span class="ms-2 d-none d-lg-block">
                {{ pedidoSeleccionado.tipoPedido === 'llevar' ? 'Para Llevar' : 'Local' }}
              </span>
              <span class="ms-2">
                {{ pedidoSeleccionado.mesa }}
              </span>
            </h5>

          </div>
          <div>
            <h5 class="modal-title ms-2 me-lg-2 me-4" id="exampleModalLabel">Pedido #{{pedidoSeleccionado.id}}</h5>
          </div>
        </div>

        <div class="detalles-pedido-body row-12 mx-0 px-1 mb-2 mt-0">
          <!-- Vista en móviles -->
          <ul class="list-unstyled col-12 d-block d-lg-none px-1">
            <li *ngFor="let plato of platosMostrar" class="detalles-pedido-body-element mb-1 pt-2 px-2">
              <div class="d-flex justify-content-between">
                <span>{{ plato.nombre }}</span>
                <span>Cantidad: {{ plato.cantidad }}</span>
              </div>
              <div *ngIf="plato.detalle" class="detalle-descripcion mb-1">
                {{ plato.detalle }}
              </div>
            </li>
          </ul>
          
          <!-- Vista en pantallas grandes -->
          <div class="row d-none d-lg-flex">
            <!-- Tabla con detalles -->
            <div class="col-lg-6">
              <div class="cont">
                <div class="table-container">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Cantidad</th>
                        <th>Platillo</th>
                        <th>Detalle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let d of platosMostrar">
                        <tr *ngIf="d.detalle" class="fs-6">
                          <td>{{ d.cantidad }}</td>
                          <td>{{ d.nombre }}</td>
                          <td class="detalle-td">{{ d.detalle }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        
            <!-- Tabla sin detalles -->
            <div class="col-lg-6">
              <div class="cont">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Platillo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let d of platosMostrar">
                      <tr *ngIf="!d.detalle" class="fs-5">
                        <td>{{ d.cantidad }}</td>
                        <td>{{ d.nombre }}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        

        <div class="detalles-pedido-footer d-flex justify-content-center align-items-center">
          <button *ngIf="pedidoSeleccionado.estado !== 'Servido' && pedidoSeleccionado.estado !== 'En preparación'"
            type="button" class="btn btn-subir-imagen " (click)="cambiarEstado('2')">En
            Curso</button>
          <button *ngIf="pedidoSeleccionado.estado == 'En preparación'" type="button" class="btn btn-terminado "
            (click)="cambiarEstado('4')">Terminado</button>
        </div>
      </div>
    </div>

    <button class="btn-navegacion p-lg-3 siguiente position-absolute top-50 end-0 translate-middle-y"
      (click)="this.cambiarPedido(1)">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>

  <div class="navegacion-miniaturas">
    <div class="contenedor-miniaturas">
      <div class="lista-miniaturas ">
        <div class="d-flex justify-content-between align-items-center miniatura-card"
          *ngFor="let pedido of pedidosVisibles" (click)="seleccionarPedido(pedido.id)" [ngClass]="{
            'en-preparacion': pedido.estado === 'En preparación',
            'terminado': pedido.estado === 'Servido',
            'default': pedido.estado !== 'Servido' && pedido.estado !== 'En preparación',
            'seleccionado': pedido.id === pedidoSeleccionado.id
          }">
          <div class="d-none d-lg-block">
            <h5>{{pedido.hora}}</h5>
          </div>
          <div class="fs-4 d-none d-lg-block">
            <i *ngIf="pedido.tipoPedido === 'llevar'" class="bi bi-bag-fill icon-large"></i>
            <i *ngIf="pedido.tipoPedido === 'local'" class="bi bi-house-door-fill icon-large"></i>
          </div>
          <div class="p-0">
            <h4 class="m-0">{{pedido.id}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>