<div class="slider-container">
    <!-- Vista Principal -->
    <div class="main-view">
      <div class="order-detail">
        <h2>Detalles del Pedido</h2>
        <!-- Mostrar detalles del pedido aquí -->
        <div *ngIf="selectedOrder">
          <p>ID Pedido: {{ selectedOrder.id }}</p>
          <p>Para: {{ selectedOrder.tipo }}</p>
          <!-- Detalles del platillo -->
          <div *ngFor="let dish of selectedOrder.platillos">
            <p>{{ dish.nombre }} - {{ dish.precio }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Miniaturas -->
    <div class="thumbnails">
      <button (click)="previousOrder()">Anterior</button>
      <div class="thumbnail-list">
        <div *ngFor="let order of orders" (click)="selectOrder(order)" [class.active]="order.id === selectedOrder?.id">
          <p>ID: {{ order.id }}</p>
          <p>Tipo: {{ order.tipo }}</p>
        </div>
      </div>
      <button (click)="nextOrder()">Siguiente</button>
    </div>
  </div>
  