/* Estilo del fondo */
.fondo-home {
    background-image: url('../../../assets/image/pixelcut-export.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  .restaurant-title {
    font-size:7em !important; 
    color: #221f29; 
    text-align: justify;
  }
  @keyframes beat {
    0%, 50%, 100% { transform: scale(1, 1); }
    30%, 80% { transform: scale(0.92, 0.95); }
  }
  
  .welcome-container {
    position: relative;
    width: 500px; 
    height: 500px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .circle-content {
    position: relative;
  }
  
  .restaurant-image {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .restaurant-title {
    font-size: 3em;
    color: #221f29;
    text-align: center;
  }

  .restaurant-image, .restaurant-title {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    &.zoom-in {
      transform: scale(1.1);
      opacity: 1;
    }
    &.zoom-out {
      transform: scale(0.9);
      opacity: 0;
    }
  }
  
  @media (max-width: 992px) {
    .fondo-home {
      height: 100vh;
      background-position: top;
    }
  
    .welcome-container {
      width: 350px; 
      height: 350px;
    }
  
    .restaurant-title {
      font-size: 2.5em;
    }
  }
  
  @media (max-width: 768px) {
  
    .fondo-home {
      height: 100vh;
    }
  
    .welcome-container {
      width: 300px;
      height: 300px;
    }
  
    .restaurant-title {
      font-size: 2em;
      margin-bottom: 20px;
    }
  }
  