.home-page{
  background-color: beige;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 94vh;
}
.rara{
  width: 350px;
  height: 350px;
  background-color: rgb(243, 215, 133);
  border-top-left-radius: 380px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.s-img{
  width: 400px;
  height:400px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.titulo {
  font-size: 3em;
  text-align: center;
  animation: animacionTitulo 5s linear infinite alternate;
}

@keyframes animacionTitulo {
  0% {
    transform: translateX(-50px); /* Mueve hacia la izquierda */
  }
  100% {
    transform: translateX(50px); /* Mueve hacia la derecha */
  }
}



