<body class="fondo">
  <div class="container">
    <h2 class="titulo"></h2>
    <div class="form">
      <form [formGroup]="formularioPlatillo" class="row needs-validation" novalidate>
        <!-- Columna izquierda: Inputs del formulario -->
        <div class="col-12 col-md-6 mb-3">
          <h2 class="pb-3">Registrar Producto</h2>

          <!-- Nombre Platillo -->
          <div class="mb-3">
            <label>Nombre del producto *</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" formControlName="nombre" [ngClass]="{
                  'is-invalid':
                    formularioPlatillo.get('nombre')?.invalid &&
                    formularioPlatillo.get('nombre')?.touched,
                  'is-valid':
                    formularioPlatillo.get('nombre')?.valid &&
                    formularioPlatillo.get('nombre')?.touched
                }"
                (blur)="validarNombreUnico()"/>
               <div class="invalid-feedback">
                <span *ngIf="formularioPlatillo.get('nombre')?.errors?.['required'] &&
                formularioPlatillo.get('nombre')?.touched">
                  El nombre es obligatorio.
                </span>
                <span *ngIf="formularioPlatillo.get('nombre')?.errors?.['minlength'] &&
                formularioPlatillo.get('nombre')?.touched">
                  El nombre debe tener al menos 3 caracteres.
                </span>
                <span *ngIf="formularioPlatillo.get('nombre')?.errors?.['maxlength'] &&
                formularioPlatillo.get('nombre')?.touched">
                  El nombre no puede exceder los 20 caracteres.
                </span>
                <span *ngIf="formularioPlatillo.get('nombre')?.errors?.['nombreNoUnico'] &&
                formularioPlatillo.get('nombre')?.touched">
                  El nombre ya está en uso.
                </span>
            </div>
            </div>
          </div>

          <!-- Categoría -->
          <div class="mb-3">
            <label for="exampleFormControlSelect1">Categoría *</label>
            <div class="input-group has-validation">
              <select class="form-control form-select" formControlName="categoria" [ngClass]="{
                  'is-invalid':
                    formularioPlatillo.get('categoria')?.invalid &&
                    formularioPlatillo.get('categoria')?.touched,
                  'is-valid':
                    formularioPlatillo.get('categoria')?.valid &&
                    formularioPlatillo.get('categoria')?.touched
                }" required>
                <option *ngFor="let categoria of categorias" [value]="categoria.id">
                  {{ categoria.nombre }}
                </option>
              </select>
              <div class="invalid-feedback">Seleccione una categoría.</div>
            </div>
          </div>

          <!-- Precio -->
          <div class="mb-3">
            <label>Precio *</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" formControlName="precio" [ngClass]="{
                  'is-invalid':
                    formularioPlatillo.get('precio')?.invalid &&
                    formularioPlatillo.get('precio')?.touched,
                  'is-valid':
                    formularioPlatillo.get('precio')?.valid &&
                    formularioPlatillo.get('precio')?.touched
                }"  />
            </div>
            <div *ngIf="formularioPlatillo.get('precio')?.touched">
              <div
                *ngIf="formularioPlatillo.get('precio')?.errors?.['required']"
                class="invalid-feedback d-block">
                El precio es obligatorio.
              </div>
              <div
                *ngIf="formularioPlatillo.get('precio')?.errors?.['pattern']"
                class="invalid-feedback d-block">
                Ingrese un precio válido entre 1 y 1000.
              </div>
            </div>
          </div>

          <!-- Descripción -->
          <div class="mb-3">
            <label>Descripción *</label>
            <div class="input-group has-validation">
              <textarea class="form-control fixed-textarea" formControlName="descripcion"
                [ngClass]="{
                  'is-invalid':
                    formularioPlatillo.get('descripcion')?.invalid &&
                    formularioPlatillo.get('descripcion')?.touched,
                  'is-valid':
                    formularioPlatillo.get('descripcion')?.valid &&
                    formularioPlatillo.get('descripcion')?.touched
                }" required></textarea>
              <div class="invalid-feedback">La descripción es obligatoria.</div>
            </div>
          </div>
        </div>

        <!-- Imagen y botón de registro -->
        <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center lado-img">
          <div class="d-flex justify-content-center mb-3">
            <div class="apartadoImg text-center">
              <!-- Vista previa de la imagen -->
              <img [src]="imageUrl" id="image-platillo" class="img-fluid" alt="Imagen del platillo"
                [style.width.px]="imageWidth" [style.height.px]="imageHeight" (error)="onImgError($event)"/>

              <!-- Input de archivo con validación -->
              <div class="input-group has-validation d-flex flex-column align-items-center">
                <input type="file" id="img-registrar-platillo" class="hidden" (change)="onFileSelected($event)"
                  accept="image/jpeg, image/png, image/jpg, image/webp" [ngClass]="{
                    'is-invalid':
                      formularioPlatillo.get('imagen')?.invalid &&
                      formularioPlatillo.get('imagen')?.touched,
                    'is-valid':
                      formularioPlatillo.get('imagen')?.valid &&
                      formularioPlatillo.get('imagen')?.touched
                  }" required />

                <!-- Mensajes de error -->
                <div class="invalid-feedback">
                  <span *ngIf="formularioPlatillo.get('imagen')?.errors?.['required'] &&
                  formularioPlatillo.get('imagen')?.touched" class="glass-effect">
                    La imagen es obligatoria.
                  </span>
                  <span *ngIf="formularioPlatillo.get('imagen')?.errors?.['invalidoTipoArchivo'] &&
                  formularioPlatillo.get('imagen')?.touched" class="glass-effect">
                    Formato no permitido. Solo imágenes JPEG, PNG, JPG, WEBP.
                  </span>
                  <span *ngIf="formularioPlatillo.get('imagen')?.errors?.['archivoMuyPesado'] &&
                  formularioPlatillo.get('imagen')?.touched" class="glass-effect">
                    Tamaño máximo 2MB.
                  </span>
                </div>
                <label for="img-registrar-platillo" class="btn-img btn btn-subir-imagen mt-2">
                  Seleccionar Imagen <i class="bi bi-file-earmark-arrow-up"></i>
                </label>
                <!-- Botón de Registro -->
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-aceptar me-2" (click)="onSubmit()">
                    Registrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>