.card:active {
    transform: scale(0.95); 
    transition: transform 0.2s;
}
.card{
    margin-bottom: 10px;
    border-radius: 5px;
}
.card-body {
    text-align: center;
    max-height: 60px;
    overflow: hidden;
}
.imagen{
    max-width: 100%; 
    height:80px;
    margin: 0px;
    border-radius: 5px;
}
.img-top {
    text-align: center;
    overflow: hidden; /* Para ocultar cualquier parte de la imagen que se salga del div */
    padding-top: 56.25%; /* Proporción 16:9 */
    position: relative; 
}
.img-top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen se ajuste manteniendo su proporción */
}
.offcanvas-body{
    text-align: center;
    background: radial-gradient(circle,#f0e6dc 2px, transparent 2px);
    background-size: 15px 15px;
    width: 100%;
    height: 100vh;
}
.offcanvas-header{
   background-color: #044051;
   text-align: center;
   color: white;
}
/* Cambia el color del switch en su estado normal */
.form-check {
    margin: 0 20px; /* Ajusta el margen lateral según sea necesario */
}

.form-check-input {
    background-color: #567d9d; /* Color de fondo del switch */
    border: #000000;
}
/* Cambia el color del switch cuando está activado */
.form-check-input:checked {
    background-color: #73c8c6; /* Color de fondo del switch cuando está activado */
    border: #052048;
}
/* Cambia el color del switch cuando está enfocado */
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25); /* Ajusta el color del resplandor cuando está enfocado */
}

.boton-cantidad
{
    color: #242323;
    width: 18.36px;
}
.boton-cantidad:hover
{
    background-color: #7074778a;
    width: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.no-platillo{
    color: rgba(36, 42, 59, 0.8);
    padding: 5px;
    border-radius: 5px;
}
.foot{
    text-align: center;
    width: 100%;
    background-color: #044051;
    padding-bottom: 2px;
}
.bt{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}
.img-animada {
    transition: transform 0.3s ease; /* Suaviza la transición */
}

.img-animada.mover-arriba {
    transform: translateX(+100%); /* Mueve la imagen hacia arriba */
}
.custom-switch-container {
    white-space: nowrap;
    flex-wrap: nowrap; /* Prevents wrapping */
}
.switch-icon {
    width: 40px;
    height: 40px;
    min-width: 40px; /* Keeps the image size fixed */
}
@media (max-width: 991px) {
    /* Adjust layout for tablets */
    .custom-switch-container {
        justify-content: flex-start;
    }
    .row.g-2 {
        gap: 1rem !important; /* Adds more spacing */
    }
}