<div class="fondo">
  <h2 class="titulo">Lista de Pedidos</h2>
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 justify-content-center d-flex"
        *ngFor="let mesa of pedidosPorMesa"
      >
        <div class="card shadow-sm h-100 d-flex flex-column justify-content-between small-card">
          <div class="card-title-container">
            <h5 class="card-title">{{ mesa.nombreMesa }}</h5>
          </div>
          <div class="card-body d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-around">
              <button 
                type="button"
                class="btn btn-aceptar"
                data-bs-toggle="modal"
                data-bs-target="#pedidosmesa"
                (click)="mostrar(mesa.nombreMesa, mesa.estadoP)">
                Pedidos
              </button>
              <button
                type="button"
                class="btn btn-editar"
                data-bs-toggle="modal"
                data-bs-target="#MiModal"
                (click)="IdCuenta(mesa.idCuenta)">
                Cuenta
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-pedidos></app-modal-pedidos>
<app-modal-datos-cuenta></app-modal-datos-cuenta>
