.small-card {
    max-width: 250px; /* Ajusta el ancho según sea necesario */
    max-height: 250px; /* Ajusta la altura según sea necesario */
    font-size: 0.9rem; /* Opcional: reduce el tamaño de la fuente */
}
.card{
  background-image: url("../../../../assets/image/5498321695145984-removebg-preview.png");
  background-position: 0;
  background-size: cover;
}
  
  