<app-nav></app-nav>
<div class="fondo">
  <br><br><br><br>
  <div class="d-flex flex-column align-items-center">
    <h2 class="titulo"><strong>Lista de Pedidos</strong></h2>
  </div>
  <br>2
  <div class="container">
    <div class="row">
      <!-- Aquí se insertarían las tarjetas de datos -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let mesa of pedidosPorMesa">
        <div class="card shadow-sm h-100 d-flex flex-column justify-content-between small-card">
          <div class="card-body">
            <h5 class="card-title">{{ mesa.nombreMesa }}</h5>
            <div class="row">
              <div class="mt-auto col-5">
                <button type="button" class="btn btn-aceptar" data-bs-toggle="modal" data-bs-target="#pedidosmesa" (click)="mostrar(mesa.nombreMesa,mesa.estadoP)">
                 Pedidos
                </button>
              </div>
              <div class="mt-auto col-7">
                <button type="button" class="btn btn-editar">
                  <i class="bi bi-receipt"></i> Cuenta
                </button>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>
<app-modal-pedidos></app-modal-pedidos>
