td img{
    max-width: 100px; 
    height: auto;
    border-radius: 20%;
}

//  .table-nombre {
//     max-width: 600px; /* Establece el ancho máximo de la tabla */
//     margin: 0 auto; /* Centra la tabla horizontalmente */
//   }