<app-nav></app-nav><br><br><br>
<h2 class="titulo">Lista de platillos</h2>
<div class="container">
  <div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar..." [ngModel]="textoBuscador" (ngModelChange)="onSearchChange($event)">
    </div>
  </div>
  <div class="table-responsive-xl">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí se insertarían las filas de datos -->
          <tr *ngFor="let platillo of platillos" class="align-middle">
            <td class="table-nombre ">
              <div class="row">
                <div class="col text-center ">
                  <span>{{ platillo.nombre }}</span>
                </div>
              </div>
            </td>
            <td class="text-center">{{ platillo.categoria.nombre }}</td>
            <td class="text-center">{{ platillo.precio }}</td>
            <td class="text-left">{{ platillo.descripcion }}</td>
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" (click)="editarPlatillo(platillo.id)">
                  <i class="bi bi-pencil-square"></i> Editar
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalEliminar" (click)="eliminarPlatillo(platillo.id)">
                  <i class="bi bi-trash3"></i> Eliminar
              </button>
              </div>
            </td>
          </tr> 
          <!-- Puedes agregar más filas según sea necesario -->
        </tbody>
      </table>
    </div>
  </div> 
</div>
<app-modal-eliminar></app-modal-eliminar>