<app-nav></app-nav>
<body class="fondo">
  <div class="container">
      <h2 class="titulo">Lista de platillos</h2>
      <div class="input-container mb-3">
        <input type="text" class="form-control" placeholder=" Buscar por nombre o categoria...." [ngModel]="textoBuscador"
          (ngModelChange)="onSearchChange($event)">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(31, 37, 54);">
            <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
            <path d="M11.412 8.586c.379.38.588.882.588 1.414h2a3.977 3.977 0 0 0-1.174-2.828c-1.514-1.512-4.139-1.512-5.652 0l1.412 1.416c.76-.758 2.07-.756 2.826-.002z"></path>
        </svg>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="fila" scope="col">Nombre</th>
              <th class="fila" scope="col">Categoría</th>
              <th class="fila" scope="col">Precio</th>
              <th class="fila" scope="col">Descripción</th>
              <th class="fila" scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let platillo of pagedPlatillos" class="align-middle">
              <td class="table-nombre">
                <div class="row">
                  <div class="col text-center">
                    <span>{{ platillo.nombre }}</span>
                  </div>
                </div>
              </td>
              <td class="text-center">{{ platillo.categoria.nombre }}</td>
              <td class="text-center">{{ platillo.precio }}</td>
              <td class="text-center">{{ platillo.descripcion }}</td>
              <td>
                <div>
                    <button type="button" class="btn btn-editar justify-content-center" (click)="editarPlatillo(platillo.id)">
                      <i class="bi bi-pencil-square"></i> Editar
                    </button>
                    <button type="button" class="btn btn-delete justify-content-center" data-bs-toggle="modal" data-bs-target="#ModalEliminar"
                    (click)="eliminarPlatillo(platillo.id)">
                    <i class="bi bi-trash3"></i> Eliminar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination-container">
        <nav aria-label="Page navigation">
          <ul class="pagination d-flex justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(pageCount); let i = index" 
                [class.active]="i + 1 === currentPage">
              <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
            <li class="page-item" [class.disabled]="currentPage === pageCount">
              <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</body>
<app-modal-eliminar></app-modal-eliminar>
