td img{
    max-width: 60px; 
    height: 60px;
    border-radius: 20%;
}
.btn{
   margin: 15px;
   border-radius: 0px;
   color: rgb(0, 0, 0);
}
.pru table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 8px; /* Espacio entre filas */
    //border-color: solid 10px black;
}

.pru th, .pru td {
    border-top: 2px solid rgba(0, 0, 0, 0.1); /* Línea superior */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Línea inferior */
    border-left: 2px solid rgba(0, 0, 0, 0.1); /* Línea izquierda */
    border-right: 2px solid rgba(0, 0, 0, 0.1); /* Línea derecha */
}

.pru th {
    background-color:rgb(210, 183, 133); /* Color de fondo para la fila de encabezados */
    //color: #fff;
}

.pru td {
    background-color: #fff; /* Color de fondo para las celdas */
}
