td img{
    max-width: 60px; 
    height: 60px;
    border-radius: 20%;
}
.btn{
   margin: 15px;
   border-radius: 0px;
   border-color: white;
}

.fila{
    background-color: rgb(76, 53, 10);
    color: white;
    padding-left: 45px;
}