<app-nav></app-nav>
<div class="d-flex justify-content-center align-items-center  fondo">
  <div class="container p-4 shadow-lg" style="background-color: white; border-radius: 10px; max-width: 500px;">
    <h2>Restablecer Contraseña</h2>
    <form [formGroup]="requestPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="correo">Correo Electrónico</label>
        <input type="correo" formControlName="correo" id="correo" class="form-control" />
        <div *ngIf="requestPasswordForm.get('correo')?.invalid && requestPasswordForm.get('correo')?.touched">
          <small class="text-danger">Por favor, ingresa un correo válido.</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="requestPasswordForm.invalid">Enviar enlace</button>
    </form>
    
  </div>
  <lib-ng-toast></lib-ng-toast> 
</div>
