<app-nav></app-nav>
<div class="hero">
  <div class="request-card">
    <div class="container">
      <h2 class="text-center mb-4">Restablecer Contraseña</h2>
      <form [formGroup]="requestPasswordForm" (ngSubmit)="onSubmit()" class="text-center">
        <div class="form-group mb-3">
          <label for="correo">Correo Electrónico</label>
          <input type="correo" formControlName="correo" id="correo" class="form-control" />
          <div *ngIf="requestPasswordForm.get('correo')?.invalid && requestPasswordForm.get('correo')?.touched">
            <small class="text-danger">Por favor, ingresa un correo válido.</small>
          </div>
        </div>
        <button type="submit" class="btn btn-generico mt-3">Enviar enlace</button>
      </form>
    </div>
    <lib-ng-toast></lib-ng-toast>
  </div>
</div>
