<form [formGroup]="preRegistroForm" class="pt-2">
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto px-2">Datos del Restaurante</legend>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="form-group">
          <label for="nombre_restaurante">Nombre del Restaurante</label>
          <input type="text" id="nombre_restaurante" formControlName="nombre_restaurante" class="form-control"
            [attr.disabled]="true">
        </div>

        <div class="form-group">
          <label for="nit">NIT</label>
          <input type="text" id="nit" formControlName="nit" class="form-control" [attr.disabled]="true">
        </div>

        <div class="form-group">
          <label for="celular_restaurante">Celular del Restaurante</label>
          <input type="text" id="celular_restaurante" formControlName="celular_restaurante" class="form-control"
            [attr.disabled]="true">
        </div>

        <div class="form-group">
          <label for="correo_restaurante">Correo del Restaurante</label>
          <input type="email" id="correo_restaurante" formControlName="correo_restaurante" class="form-control"
            [attr.disabled]="true">
        </div>
      </div>

      <div class="col-12 col-md-4 ">
        <div class="d-flex flex-column h-100">
          <label for="licencia_funcionamiento">Licencia de Funcionamiento</label>

          <iframe id="preview_pdf" [src]="previewUrlSafe" class="form-control"
            style="height: 150px; border: 1px solid #ccc;"></iframe>

          <div class="d-flex justify-content-center mt-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pdfModal">
              Ver Licencia de Funcionamiento
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-1">
        <div class="form-group">
          <label for="tipo_establecimiento">Tipo de Establecimiento</label>
          <input type="text" id="tipo_establecimiento" formControlName="tipo_establecimiento" class="form-control"
            [attr.disabled]="true">
        </div>
      </div>

      <div class="col-12 col-md-6 mt-1">
        <div class="col-12 col-md-6 mt-1">
          <div class="form-group d-flex align-items-center">
            <label for="estado" class="me-2">Estado del Pre-Registro</label>
            <span [ngClass]="getBadgeClass(preRegistroForm.get('estado')?.value)"
              style="width: 25px; height: 25px; border-radius: 50%;"></span>
          </div>
          <input type="text" id="estado" formControlName="estado" class="form-control mt-1" [attr.disabled]="true">
        </div>
      </div>

    
      <div class="col-12 ">
        <label for="estado" class="me-2">Ubicación del Restaurante</label>
        <app-map [parentForm]="preRegistroForm" [mapaDeshabilitado]="true"></app-map>
      </div>
      

    </div>
  </fieldset>


  <!-- Sección Datos del Propietario -->
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto px-2">Datos del Propietario</legend>

    <div class="row">
      <div class="col-12 col-md-8">
        <div class="form-group">
          <label for="nombre_propietario">Nombre del Propietario</label>
          <input type="text" id="nombre_propietario" formControlName="nombre_propietario" class="form-control"
            [attr.disabled]="true">
        </div>

        <div class="form-group">
          <label for="apellido_paterno_propietario">Apellido Paterno del Propietario</label>
          <input type="text" id="apellido_paterno_propietario" formControlName="apellido_paterno_propietario"
            class="form-control" [attr.disabled]="true">
        </div>

        <div class="form-group">
          <label for="apellido_materno_propietario">Apellido Materno del Propietario</label>
          <input type="text" id="apellido_materno_propietario" formControlName="apellido_materno_propietario"
            class="form-control" [attr.disabled]="true">
        </div>

        <div class="form-group">
          <label for="cedula_identidad_propietario">Cédula de Identidad del Propietario</label>
          <input type="text" id="cedula_identidad_propietario" formControlName="cedula_identidad_propietario"
            class="form-control" [attr.disabled]="true">
        </div>
      </div>

      <div class="col-12 col-md-4 d-flex flex-column">
        <div class="form-group d-flex flex-column flex-grow-1">
          <label for="fotografia_propietario">Fotografía del Propietario</label>
          <!-- Previsualización de la imagen -->
          <div class="d-flex justify-content-center">
            <img [src]="imgURLSafe" class="img-fluid"
              style="max-width: 220px; max-height: 220px; border: 1px solid #ccc;" alt="Fotografía del Propietario">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="correo_propietario">Correo del Propietario</label>
          <input type="email" id="correo_propietario" formControlName="correo_propietario" class="form-control"
            [attr.disabled]="true">
        </div>
      </div>
    </div>
  </fieldset>

</form>


<!-- Modal -->
<div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pdfModalLabel">Licencia de Funcionamiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <!-- Aquí mostramos el PDF ocupando el 100% del modal -->
        <iframe [src]="previewUrlSafe" width="100%" height="100%"
          style="border: none;"></iframe>
      </div>
    </div>
  </div>
</div>