<div class="fondo" id="container-ver-menu">
  <div class="container" >
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card">
            <div class="card-body h-100 portada" [style.background-image]="'url(' + baseUrl + menu.portada + ')'">
              <img class="categoria-imagen" [src]="baseUrl + menu.portada"
              (error)="onError($event)">
            </div>
          </div>
        </div>
        <div *ngFor="let categoriasPag of platilloPorCategoriaPagina; let i = index">
          <div class="carousel-item">
            <div class="card">
              <div class="row h-100">
                <div *ngFor="let categoriaElement of categoriasPag">
                  <div class="row h-100">
                    <!-- Imagen de la categoría -->
                    <div class="col-5 ">
                      <img class="categoria-imagen" [src]="baseUrl + categoriaElement.imagen" id="{{'img-menu-categoria-' + i+'-'+categoriaElement.id}}" 
                      (error)="onError($event)">
                    </div>
                    <div class="col-7 h-100">
                      <div class="p-0">
                        <h1 class="categoria-titulo text-center">{{ categoriaElement.nombre }}</h1>
                      </div>
                      <div *ngFor="let platillo of categoriaElement.platillos">
                        <div class="platillos">
                          <table class="menu-cuerpo">
                            <tr (click)="onRowClick(platillo)" data-bs-toggle="modal" data-bs-target="#MostrarPlatillo">
                              <td class="menu-cuerpo-platillo">{{ platillo.nombre }}</td>
                              <td class="menu-cuerpo-precio">{{ platillo.precio + ' Bs' }}</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Controles del carrusel -->
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <!-- Modal para mostrar los detalles del platillo -->
<app-modal-platillo></app-modal-platillo>
</div>


