<div class="modal fade" [class.show]="showModal" id="ModalEliminar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Platillo</h5>
        </div>
        <div class="modal-body">
          <label>¿Esta seguro que desea eliminar?</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminarPlatillo()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  