.apartadoImg{
    margin-top: 20px;
}
.btn-img{
    display: inline-block;
    height: 35px;
    width: 100px;
    background-color:#cc3931;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.hidden {
    display: none;
}