<div class="modal fade" id="ModalEditarC" tabindex="-1" role="dialog" aria-labelledby="editCatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="editCatModalLabel"><strong>Editar Categoría</strong></h5>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="formularioCategoria">
          <label for="categoriaInput">Nombre de la Categoría</label>
          <input type="text" class="form-control" id="categoriaInput" formControlName="nombre">
        </div>
        <div class="row justify-content-center">
          <div class="col-xs-12 d-flex text-center justify-content-center">
            <div class="apartadoImg text-center"> 
              <img [src]="imageUrl" id="image-categoria" class="img-fluid shadow-img" alt="Imagen" *ngIf="imageUrl" [style.width.px]="imageWidth"
              (error)="onImageError()" [style.height.px]="imageHeight">
              <input #fileInput type="file" id="archivoCatFoto" (change)="onFileSelected($event)" class="hidden" 
              accept="image/jpeg, image/png, image/jpg, image/webp">
              <label for="archivoCatFoto" class="btn-img btn btn-subir-imagen">Seleccionar Imagen <i class="bi bi-file-earmark-arrow-up"></i></label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-delete" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-aceptar" (click)="guardarCategoria()" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
