<div class="modal fade" id="ModalEditarC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Categoría</h5>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="formularioCategoria" >
          <label for="categoriaInput">Nombre de la Categoría</label>
          <input type="text" class="form-control" id="categoriaInput" formControlName="nombre">
          <div class="text-danger">
           El nombre de la categoria debe tener mas de 3 letras
          </div>
        </div>
        <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center">
          <div class="apartadoImg">
              <img [src]="imageUrl" id="image-platillo" class="img-fluid" alt="Imagen" *ngIf="imageUrl" [style.width.px]="imageWidth" [style.height.px]="imageHeight">
              <input type="file" id="archivo" class="hidden" (change)="onFileSelected($event)">
              <label for="archivo" class="btn-img" >Seleccionar</label>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarCategoria()" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>