<div class="modal" id="MiModal" tabindex="-1" aria-labelledby="modalAgregarPlatilloLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarPlatilloLabel">Agregar datos para la cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Razón Social:</p>
        <input type="text" class="form-control" id="razonSocialInput" [(ngModel)]="razonSocial">
        <p>NIT:</p>
        <input type="text" class="form-control" id="nitInput" [(ngModel)]="nit">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-delete" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-aceptar" data-bs-dismiss="modal" (click)="guardarDatos()">Enviar</button>
      </div>
    </div>
  </div>
</div>
<lib-ng-toast></lib-ng-toast>
