<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar Categoría</h5>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="formularioCategoria">
          <label for="categoriaInput">Nombre de la Categoría</label>
          <input type="text" class="form-control" id="categoriaInput" formControlName="nombre">
          <div *ngIf="formularioCategoria.get('nombre')?.invalid && formularioCategoria.get('nombre')?.touched" class="text-danger">
           El nombre de la categoria debe tener mas de 3 letras
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarCategoria()" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
