<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Registrar Categoría</strong></h5>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="formularioCategoria">
          <label for="categoriaInput">Nombre de la Categoría</label>
          <input type="text" class="form-control" id="categoriaInput" formControlName="nombre">
          <div *ngIf="formularioCategoria.get('nombre')?.invalid && formularioCategoria.get('nombre')?.touched" class="text-danger">
           El nombre de la categoria debe tener mas de 3 letras
          </div>
        </div>
        <div class="row justify-content-center img-c">
        <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center">
          <div class="apartadoImg text-center">
            <img [src]="imageUrl" (error)="onImgError($event)" id="image-platillo" class="img-fluid shadow-img"
            alt="Imagen" *ngIf="imageUrl" [style.width.px]="imageWidth" [style.height.px]="imageHeight">       
              <input type="file" id="archivo" class="hidden" (change)="onFileSelected($event)">
              <label for="archivo" class="btn-img btn btn-subir-imagen">Seleccionar Imagen<i class="bi bi-file-earmark-arrow-up"></i></label>
          </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-delete" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-aceptar" (click)="guardarCategoria()" data-bs-dismiss="modal">Registrar</button>
      </div>
    </div>
  </div>
</div>
