<div class="d-flex justify-content-center align-items-center fondo" style="min-height: 100vh;">
<div class="container p-4 shadow-lg">  
    <h2 class="text-center mb-4">Restablecer Contraseña</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"  novalidate>
      <!-- Contraseña actual (solo si no hay token) -->
      <div class="form-group" *ngIf="token === ''">
        <label for="oldPassword">Contraseña actual</label>
        <input type="password" formControlName="oldPassword" id="oldPassword" class="form-control"
          [ngClass]="{
            'is-invalid': resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched,
            'is-valid': resetPasswordForm.get('oldPassword')?.valid && resetPasswordForm.get('oldPassword')?.touched
          }" />
        <div *ngIf="resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched"
          class="invalid-feedback">
          La contraseña actual es requerida.
        </div>
      </div>

      <!-- Nueva contraseña -->
      <div class="form-group">
        <label for="newPassword">Nueva contraseña</label>
        <input type="password" formControlName="newPassword" id="newPassword" class="form-control" 
          [ngClass]="{
            'is-invalid': resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.errors?.['mismatch'],
            'is-valid': resetPasswordForm.get('newPassword')?.valid && !resetPasswordForm.errors?.['mismatch'] && resetPasswordForm.get('newPassword')?.touched
          }" />
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
          class="invalid-feedback">
          La nueva contraseña es requerida y debe tener al menos 8 caracteres.
        </div>
      </div>
      
      <div class="form-group">
        <label for="confirmPassword">Confirmar nueva contraseña</label>
        <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control"
          [ngClass]="{
            'is-invalid': (resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched) || resetPasswordForm.errors?.['mismatch'],
            'is-valid': resetPasswordForm.get('confirmPassword')?.valid && !resetPasswordForm.errors?.['mismatch'] && resetPasswordForm.get('confirmPassword')?.touched
          }" />
        <div *ngIf="resetPasswordForm.errors?.['mismatch'] && (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('newPassword')?.touched)"
          class="invalid-feedback">
          Las contraseñas no coinciden.
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-aceptar mt-3">Restablecer contraseña</button>
    </div>
    </form>
  </div>
  <lib-ng-toast></lib-ng-toast> 
</div>
