<body class="fondo">
  <div class="container">
    <h2 class="titulo text-center">Lista de Mesas</h2>
    <div class="row mesas">
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 pb-3 d-flex justify-content-center"
        *ngFor="let mesa of mesas"
      >
        <div
          class="card mesa-card"
          [attr.id]="mesa.id"
          (click)="seleccionarMesa(mesa.id, mesa.nombre)"
        >
          <div class="card-body text-center">
            <p class="mesa-nombre">{{ mesa.nombre }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
