
  .card {
    cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta */
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo transparente */
    border: 1px solid #ccc; /* Borde del card */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    min-width: 128px !important;
    min-height: 128px !important;
    max-width: 216px !important;
    max-height: 216px !important;
    
  }

  .card:hover {
    background-color: rgb(246, 129, 27) !important;
    color: aliceblue;
    box-shadow: #ee9106;
    text-transform: uppercase;

  }
.container{
  padding: 10px;
  align-items: center;
}