.card {
  cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta */
  background-color: rgb(255, 255, 255); /* Color de fondo transparente */
  min-width: 128px !important;
  min-height: 128px !important;
  max-width: 216px !important;
  max-height: 216px !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease; /* Transición suave para cambios */
  border: none;
  margin-bottom: 5px;
}

.card:hover {
  transform: translateY(-5px); /* Eleva la tarjeta ligeramente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  //background-color: rgb(255, 222, 172);
}

.card:active {
  transform: translateY(0); /* Devuelve la tarjeta a su posición original cuando se presiona */
  box-shadow: none; /* Quita la sombra cuando se presiona */
}

.mesa-nombre {
  margin-top: 25px;
}

.card-body {
  padding-bottom: 0px;
  background-color: #faf3e9;
  font-size: 20px;
  background-image: url('../../../../assets/image/tenedores.png');
  background-position: center;
  width: 100%;
  height: 120px;
  background-size: cover;
}

.card-header {
  text-align: center;
} 

.card-footer {
  background-image: url('../../../../assets/image/lll.png');
  background-position: center;
  background-size: cover;
  height: 50px;
}

.container {
  padding: 10px;
  align-items: center;
}
