.card {
  cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta */
  background-color: rgb(255, 255, 255); /* Color de fondo transparente */
  min-width: 128px !important;
  min-height: 128px !important;
  max-width: 216px !important;
  max-height: 216px !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease; /* Transición suave para cambios */
  margin-bottom: 5px;
  border-color: 4px solid black;
}

.card:hover { 
  transform: translateY(-5px); /* Eleva la tarjeta ligeramente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.card:active {
  transform: translateY(0); /* Devuelve la tarjeta a su posición original cuando se presiona */
  box-shadow: none; /* Quita la sombra cuando se presiona */
}

.mesa-nombre {
  margin-top: 25px;
}

.card-body {
  padding-bottom: 0px;
 
  font-size: 30px;
  //background-image: url('../../../../assets/image/5498321695145984-removebg-preview.png');
  background-position: center;
  width: 100%;
  height: 120px;
  background-size: cover;
  background-color:#A69A60;
  color: white;
}

.card-header {
  text-align: center;
} 

.container {
  padding: 10px;
  align-items: center;
}
