.btn-custom {
    background-color: #1E1E1E;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-custom:hover {
    background-color: #333333;
  }
  
  input[disabled] {
    background-color: #f0f0f0;
    color: #333333;
    border-radius: 0.375rem !important;
  }
  