<app-nav></app-nav>
<div class="fondo">
<br><br><br><br>
<h2 class="titulo"><strong>Lista de Categorías</strong></h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let categoria of categorias">
      <div class="card">
        <img class="card-img-top img-categoria" [src]="storageUrl+categoria.imagen" alt="{{ categoria.nombre }}">
        <div class="card-body">
          <h5 class="card-title">{{ categoria.nombre }}</h5>
          <div class="group">
            <button type="button" class="btn btn-sm w-75 btn-editar" data-bs-toggle="modal" data-bs-target="#ModalEditarC" (click)="editarCategoria(categoria.id)">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
            <button type="button" class="btn btn-sm w-75 btn-delete" data-bs-toggle="modal" data-bs-target="#ModalEliminarC" (click)="eliminarCategoria(categoria.id)">
              <i class="bi bi-trash3"></i> Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-modal-eliminar-categoria></app-modal-eliminar-categoria>
