<app-nav></app-nav><br><br>
<div class="fondo">
<div class="container">
    <br>
    <h2 class="titulo">Editar Platillo</h2> 
    <div class="form">
        <form [formGroup]="formularioEditarPlatillo"> 
            <div class="row">
            <div class=" col-md-6">  
                <div class="form-group col-12">
                  <label>Nombre del platillo</label>
                  <input type="text" class="form-control" formControlName="nombre" > 
                   <div *ngIf="formularioEditarPlatillo.get('nombre')?.invalid && formularioEditarPlatillo.get('nombre')?.touched" class="text-danger">
                    El nombre es obligatorio y debe tener al menos 3 caracteres.
                  </div>
                </div>
                <div class="form-group col-12">
                    <label for="exampleFormControlSelect1">Categoria</label>
                    <select class="form-control form-select" formControlName="categoria">
                      <option [value]="1">Postres</option>
                      <option [value]="2">Carnes</option>
                    </select>
                    <div *ngIf="formularioEditarPlatillo.get('categoria')?.invalid && formularioEditarPlatillo.get('categoria')?.touched" class="text-danger">
                        Seleccione una categoria
                      </div>
                </div> 
                <div class="form-group col-12">
                    <label>Precio</label>
                    <input type="text" class="form-control" formControlName="precio">
                    <div *ngIf="formularioEditarPlatillo.get('precio')?.invalid && formularioEditarPlatillo.get('precio')?.touched" class="text-danger">
                        Ingrese solo numeros 
                      </div>
                </div>
                <div class="form-group col-12">
                    <label>Descripcion</label>
                    <textarea class="form-control" formControlName="descripcion"></textarea>
                </div>
            </div> 
            <br>
            <div class="col-md-6 col-xs-12">
                <div class="apartadoImg">
                    <img [src]="imageUrl"  class="img-fluid" alt="Imagen" *ngIf="imageUrl" [style.width.px]="imageWidth" [style.height.px]="imageHeight">
                    <input type="file" id="img-editar-platillo" class="hidden" (change)="onFileSelected($event)">
                    <label for="img-editar-platillo" class="btn-img">Seleccionar</label>
                </div>
            </div>
    </div>
        </form>
    </div>
    <div class="row">
        <div class="botones-group">
         <button class="btn">Atras</button>
         <button class="btn" (click)="registrarPlatillo()">Guardar</button>
        </div>
     </div>
</div> 
</div>
