<app-nav></app-nav><br><br>
<div class="fondo">
<div class="container">
    <br>
    <h2 class="titulo">Editar Platillo</h2>
    <div class="form">
        <form>
            <div class="row">
            <div class=" col-md-6">
                <div class="form-group col-12">
                  <label>Nombre del platillo</label>
                  <input type="text" class="form-control" formControlName="nombre"> 
                </div>
                <div class="form-group col-12">
                    <label for="exampleFormControlSelect1">Categoria</label>
                    <select class="form-control" formControlName="categoria">
                      <option>Postres</option>
                      <option>Carnes</option> 
                    </select>
                </div> 
                <div class="form-group col-12">
                    <label>Precio</label>
                    <input type="text" class="form-control" formControlName="precio">
                </div>
                <div class="form-group col-12">
                    <label>Descripcion</label>
                    <textarea class="form-control" formControlName="descripcion"></textarea>
                </div>
            </div> 
            <br>
            <div class="col-md-6 col-xs-12">
            <div class="apartadoImg">
                <label>Imagen</label>
                <img src="../../../../../assets//image/platillo2.avif" class="img-fluid" formControlName="imagen">
                <div class="btn-flex">
                <label for="archivo" class="btn-img">Seleccionar</label>
                <input type="file" id="archivo" class="hidden">
            </div> 
            </div>
        </div>
    </div>
        </form>
    </div>
    <div class="row">
        <div class="botones-group">
         <button class="btn">Atras</button>
         <button class="btn">Guardar</button>
        </div>
     </div>
</div>
</div>
