
.custom-navbar-color {
    background-color:rgb(57, 54, 51);
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: fixed;
    padding: 14px; 
    width: 100%; /* Asegura que ocupe toda la anchura */
    top: 0; /* La barra de navegación se fija en la parte superior */
    z-index: 1000; 
}

.notificacion{
    width: 318px;
}
.bi-cup{
    font-size: 30px;
}
.icono{
    height: 40px;
    width: 45px;
}


@media (max-width: 470px) {
    .dropdown-menu {
        //300 px en rem
        width: 20rem !important;
        // posicion relativa en el medio de la mpantalla
        right: -650% !important;
      }
}

@media (max-width: 375px) {
    .dropdown-menu {
        //300 px en rem
        width: 20rem !important;
        // posicion relativa en el medio de la mpantalla
        right: -820% !important;
      }
}

@media (max-width: 320px) {
    // .navbar-brand{
    //     font-size: 1rem;
    
    // }
    .dropdown-menu {
        //300 px en rem
        width: 20rem !important;
        // posicion relativa en el medio de la mpantalla
        right: -970% !important;
      }
}