.custom-navbar-color {
    background-color:#0d202b !important;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    position: fixed;
    padding: 14px; 
    width: 100%; 
    top: 0;
    z-index: 1000; 
    position: fixed;
}
.offcanvas {
    background-color:#0d202b !important;
}
.notificacion{
    width: 318px;
}
.bi-cup{
    font-size: 30px;
}
.icono{
    height: 40px;
    width: 45px;
}
.lugo{
    padding-left: 10px;
}
@media (min-width: 769px) {
    .dropdown-menu-custom {
      right: 0 !important;
      left: auto !important;
      transform: none;
    }
}
@media (max-width: 992px) {
    .nav-link {
      font-weight: bold !important;
    }
  }
@media (max-width: 470px) {
    .dropdown-menu {
        width: 20rem !important;
        right: -650% !important;
      }
}
@media (max-width: 375px) {
    .dropdown-menu {
        width: 20rem !important;
        right: -820% !important;
      }
}

@media (max-width: 320px) {
    .dropdown-menu {
        width: 20rem !important;
        right: -970% !important;
      }
}
