<form [formGroup]="pasoTresForm" (ngSubmit)="onSubmit()" class="container">
  <div class="row mb-1">
    <!-- Nombre del Propietario -->
    <div class="col-md-6">
      <label for="nombrePropietario" class="form-label">Nombre del Propietario</label>
      <input id="nombrePropietario" type="text" class="form-control"
        formControlName="nombrePropietario"
        [ngClass]="{
          'is-invalid': pasoTresForm.get('nombrePropietario')?.invalid && pasoTresForm.get('nombrePropietario')?.touched,
          'is-valid': pasoTresForm.get('nombrePropietario')?.valid && pasoTresForm.get('nombrePropietario')?.touched
        }"
        placeholder="Nombre del Propietario" />
      <div *ngIf="pasoTresForm.get('nombrePropietario')?.invalid && pasoTresForm.get('nombrePropietario')?.touched" class="invalid-feedback">
        El nombre del propietario es requerido.
      </div>
    </div>

    <!-- Apellido Paterno -->
    <div class="col-md-6">
      <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
      <input id="apellidoPaterno" type="text" class="form-control"
        formControlName="apellidoPaterno"
        [ngClass]="{
          'is-invalid': pasoTresForm.get('apellidoPaterno')?.invalid && pasoTresForm.get('apellidoPaterno')?.touched,
          'is-valid': pasoTresForm.get('apellidoPaterno')?.valid && pasoTresForm.get('apellidoPaterno')?.touched
        }"
        placeholder="Apellido Paterno" />
      <div *ngIf="pasoTresForm.get('apellidoPaterno')?.invalid && pasoTresForm.get('apellidoPaterno')?.touched" class="invalid-feedback">
        El apellido paterno es requerido.
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <!-- Apellido Materno -->
    <div class="col-md-6">
      <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
      <input id="apellidoMaterno" type="text" class="form-control"
        formControlName="apellidoMaterno"
        [ngClass]="{
          'is-invalid': pasoTresForm.get('apellidoMaterno')?.invalid && pasoTresForm.get('apellidoMaterno')?.touched,
          'is-valid': pasoTresForm.get('apellidoMaterno')?.valid && pasoTresForm.get('apellidoMaterno')?.touched
        }"
        placeholder="Apellido Materno" />
      <div *ngIf="pasoTresForm.get('apellidoMaterno')?.invalid && pasoTresForm.get('apellidoMaterno')?.touched" class="invalid-feedback">
        El apellido materno es requerido.
      </div>
    </div>

    <!-- Cédula de Identidad -->
    <div class="col-md-6">
      <label for="cedulaIdentidad" class="form-label">Cédula de Identidad</label>
      <input id="cedulaIdentidad" type="text" class="form-control"
        formControlName="cedulaIdentidad"
        [ngClass]="{
          'is-invalid': pasoTresForm.get('cedulaIdentidad')?.invalid && pasoTresForm.get('cedulaIdentidad')?.touched,
          'is-valid': pasoTresForm.get('cedulaIdentidad')?.valid && pasoTresForm.get('cedulaIdentidad')?.touched
        }"
        placeholder="Cédula de Identidad" />
      <div *ngIf="pasoTresForm.get('cedulaIdentidad')?.invalid && pasoTresForm.get('cedulaIdentidad')?.touched" class="invalid-feedback">
        La cédula de identidad es requerida y debe contener solo números.
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <!-- Correo Electrónico del Propietario -->
    <div class="col-md-12">
      <label for="correoPropietario" class="form-label">Correo Electrónico del Propietario</label>
      <input id="correoPropietario" type="email" class="form-control"
        formControlName="correoPropietario"
        [ngClass]="{
          'is-invalid': pasoTresForm.get('correoPropietario')?.invalid && pasoTresForm.get('correoPropietario')?.touched,
          'is-valid': pasoTresForm.get('correoPropietario')?.valid && pasoTresForm.get('correoPropietario')?.touched
        }"
        placeholder="Correo Electrónico" />
      <div *ngIf="pasoTresForm.get('correoPropietario')?.invalid && pasoTresForm.get('correoPropietario')?.touched" class="invalid-feedback">
        El correo electrónico es requerido y debe tener un formato válido.
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <!-- Fotografía del Propietario -->
    <div class="col-md-12">
      <label for="fotografiaPropietario" class="form-label">Fotografía del Propietario</label>
      <input id="fotografiaPropietario" type="file" class="form-control"
        formControlName="fotografiaPropietario"
        [ngClass]="{
          'is-invalid': pasoTresForm.get('fotografiaPropietario')?.invalid && pasoTresForm.get('fotografiaPropietario')?.touched,
          'is-valid': pasoTresForm.get('fotografiaPropietario')?.valid && pasoTresForm.get('fotografiaPropietario')?.touched
        }"
        (change)="onFileChange($event, 'fotografiaPropietario')" />
      <div *ngIf="pasoTresForm.get('fotografiaPropietario')?.invalid && pasoTresForm.get('fotografiaPropietario')?.touched" class="invalid-feedback">
        La fotografía del propietario es requerida.
      </div>
    </div>
  </div>
</form>

