<div class="modal fade" id="pedidosmesa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pedidos de la {{ nombreMesa }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="pedidosDeMesa.length > 0; else noPedidos">
            <div *ngFor="let pedido of pedidosDeMesa" class="card my-2">
              <div class="card-body">
                <h5 class="card-title">Pedido de la mesa {{ pedido.mesa }}</h5>
                <div *ngFor="let plato of pedido.platos">
                  <p class="card-text">Plato: {{ plato.nombre }}</p>
                  <p class="card-text">Cantidad: {{ plato.cantidad }}</p>
                  <p class="card-text">Precio unitario: {{ plato.precio }}</p>
                  <p class="card-text">Total: {{ plato.cantidad * plato.precio }}</p>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noPedidos>
            <p>No hay pedidos para esta mesa.</p>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  