<app-nav></app-nav>
<br><br><br>
<html>
  <header>
    <h2 class="text-center">Registro de empleado</h2>
  </header>
  <body>
    <section class="container">
      <form class="row g-3">
        <!-- Nombre -->
        <div class="col-md-4">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>

        <!-- Apellidos -->
        <div class="col-md-8">
          <div class="row">
            <div class="col-6">
              <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno" required>
            </div>
            <div class="col-6">
              <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
              <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno" required>
            </div>
          </div>
        </div>

        <!-- Correo Electrónico -->
        <div class="col-md-4">
          <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
        </div>

        <!-- Teléfono y Carnet de Identidad -->
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="tel" class="form-control" id="telefono" name="telefono" required>
            </div>
            <div class="col-md-6">
              <label for="ci" class="form-label">Carnet de Identidad</label>
              <input type="text" class="form-control" id="ci" name="ci" required>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="direccion" class="form-label">Dirección</label>
          <input type="text" class="form-control mb-3" id="direccion" name="direccion" required>
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <!-- Imagen y botón de subir imagen -->
        <div class="col-md-6 ">
          <div class="row">
          <div class="col-md-6">
            <label for="puesto" class="form-label">Puesto</label>
            <div class="d-flex justify-content-between mb-3">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="puesto" id="cocinero">
                <label class="form-check-label" for="cocinero">
                  Cocinero
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="puesto" id="mesero">
                <label class="form-check-label" for="mesero">
                  Mesero
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="puesto" id="cajero">
                <label class="form-check-label" for="cajero">
                  Cajero
                </label>
              </div>
            </div>
            <label for="fechaContratacion" class="form-label">Fecha de Contratación</label>
            <input type="date" class="form-control" id="fechaContratacion" name="fechaContratacion" required>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-start align-items-center">
            <img class="imagen-subir img-fluid mb-2" src="../../../../../assets/image/2222.png" alt="Imagen de empleado">
            <button type="button" class="btn btn-info mt-2">Subir Imagen</button>  
          </div>
          </div>
        </div>

        <!-- Botones de Registrar y Limpiar -->
        <div class="col-12 d-flex justify-content-center"> <!-- Alínea los botones a la derecha -->
          <button type="submit" class="btn btn-primary me-2">Registrar</button> <!-- Espacio entre los botones -->
        </div>
      </form>
    </section>
  </body>
</html>
