<app-nav></app-nav>
<html>
  <br><br>
  <header>
    <h2 class="text-center my-4">Registro de empleado</h2>
  </header>
  <body>
    <section class="container">
      <form [formGroup]="formularioEmpleado">
        <!-- Nombre -->
        <div class="col-md-4">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required formControlName="nombre">
        </div>
        <!-- Apellidos -->
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 ">
              <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control ml-3" id="apellidoPaterno" name="apellidoPaterno" required formControlName="apellidoPaterno">
            </div>
            <div class="col-md-6">
              <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
              <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno" required formControlName="apellidoMaterno">
            </div>
          </div>
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="col-md-4">
          <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required formControlName="fechaNacimiento">
        </div>

        <!-- Teléfono y Carnet de Identidad -->
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="tel" class="form-control" id="telefono" name="telefono" required formControlName="telefono">
            </div>
            <div class="col-md-6">
              <label for="ci" class="form-label">Carnet de Identidad</label>
              <input type="text" class="form-control" id="ci" name="ci" required formControlName="carnetIdentidad">
            </div>
          </div>
        </div>

        <!-- Dirección y Correo Electrónico -->
        <div class="col-md-6">
          <label for="direccion" class="form-label">Dirección</label>
          <input type="text" class="form-control mb-3" id="direccion" name="direccion" required formControlName="direccion">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" name="email" required formControlName="correoElectronico">
        </div>

        <!-- Puesto y Fecha de Contratación -->
        <div class="col-md-6">
          <div class=" mr-2 mt-1">
            <label for="puesto" class="form-label">Puesto</label>
            <div class="btn-group w-100" role="group" >
              <input type="radio" class="btn-check" name="puesto" id="cocinero" value="Cocinero" required>
              <label class="btn btn-outline-primary" for="cocinero">Cocinero</label>

              <input type="radio" class="btn-check" name="puesto" id="mesero" value="Mesero" required>
              <label class="btn btn-outline-primary" for="mesero">Mesero</label>

              <input type="radio" class="btn-check" name="puesto" id="cajero" value="Cajero" required>
              <label class="btn btn-outline-primary" for="cajero">Cajero</label>
            </div>
          </div>
          <div class="mt-3">
            <label for="fechaContratacion" class="form-label">Fecha de Contratación</label>
            <input type="date" class="form-control" id="fechaContratacion" name="fechaContratacion" required formControlName="fechaContratacion">
          </div>
        </div>

        <!-- Fotografía del Empleado -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="fotografiaEmpleado" class="form-label">Fotografía del Empleado</label>
            <div class="input-group">
              <label class="btn btn-outline-secondary" for="fotografiaEmpleado">
                <i class="bi bi-person-bounding-box"></i> Subir foto
              </label>
              <input type="file" class="form-control" id="fotografiaEmpleado" name="fotografiaEmpleado" accept="image/png, image/jpeg, image/jpg, image/webp" style="display: none;">
              <input type="text" class="form-control" placeholder="Seleccione un archivo..." readonly>
            </div>
          </div>
        </div>

        <!-- Botones de Registrar y Limpiar -->
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary me-2"(click)="onSubmit()" >Registrar</button>
        </div>

      </form>
    </section>

    <script>
      // Script para mostrar el nombre del archivo seleccionado en el campo de texto
      document.getElementById('fotografiaEmpleado').addEventListener('change', function () {
        const fileName = this.files[0] ? this.files[0].name : 'Seleccione un archivo...';
        this.nextElementSibling.value = fileName;
      });
    </script>
  </body>
</html>
