<div class="modal fade" id="verPedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="{
        'terminado': Estado ==='Servido',
          'en-preparacion':Estado === 'En preparación',
          'default':Estado !== 'Servido' && Estado !== 'En preparación'
      }">
        <h5 class="modal-title" id="exampleModalLabel">Platos del Pedido</h5>
      </div>
      <div class="modal-body">
        <div *ngFor="let plato of platillo">
          <div *ngFor="let p of plato">
            <p>{{ p.nombre }}</p> 
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-curso" data-bs-dismiss="modal" (click)="cambiarEstado('2')">En Curso</button>
        <button type="button" class="btn btn-terminado" data-bs-dismiss="modal" (click)="cambiarEstado('4')">Terminado</button>
      </div>
    </div>
  </div>
</div>
