  /* Estado: Terminado */
  .terminado {
    background-color: rgb(173, 236, 173);
  }
  /* Estado: En Preparacion */
  .en-preparacion {
    background-color: rgb(247, 232, 168);
  }
  /* Estado por defecto */
  .default {
    background-color: rgb(240, 162, 128);
  }  