@media print {
    .no-print {
      display: none !important;
    }
  }
.card{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.card-header{
    background-color: rgb(255, 255, 255);
    color: #35324c;
    padding-left: 25px;
    border: none;
}
.card-body{ 
    padding: 0;
    border: none;
}
.card-footer{
  border: none;
  background-color: #ffffff;
}
.button-group{
    display: flex;
    flex-direction: row;
}

.input-container {
  position: relative;
  width: 100%;
}
.input-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: rgb(32, 32, 57); /* Color de la lupa */
}
.input-container .form-control {
  padding-left: 35px; /* Espacio para el SVG */
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #000000;
}
th,td{
  border-left:none;
  border-right:none;
}

  