@media print {
    .no-print {
      display: none !important;
    }
  }
.card-header{
    background-color: #597e5c;
    color: white;
    padding: 5px;
}
.card-body{
    //background-image: url('../../../../assets/image/5498321695145984-removebg-preview.png');
    background-position: 0;
    background-size: cover;
}
.button-group{
    display: flex;
    flex-direction: row;
}

  