<app-nav></app-nav>
<div class="fondo">
  <br><br><br><br>
  <h2 class="text-center">Cuentas de pedidos</h2>
  <br>
  <div class="container">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Buscar</button>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let pedido of pedidos" class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <h3 class="text-center">{{ pedido.cuenta.mesa.nombre }}</h3>
            <p>Estado del pedido: {{ pedido.estado.nombre }}</p>
          </div>
          <div class="card-body" style="overflow-y: auto; max-height: 200px;">
            <table class="table">
              <thead class="text-center table-dark">
                <tr>
                  <th>Plato</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let plato of pedido.platos">
                  <td>{{ plato.nombre }}</td>
                  <td>{{ plato.pivot.cantidad }}</td>
                  <td>{{ plato.precio }} Bs</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <h5 class="text-end">Total: {{ pedido.monto }} Bs</h5>
            <div>
              <div class="row">
                <div class="col">
                <button class="btn btn-aceptar">Cerrar</button>
                </div>
                <div class="col">
                <button class="btn btn-imprimir">Imprimir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>