@media print {
  /* Oculta los elementos no deseados */
  .no-print {
    display: none !important;
  }
  body * {
    visibility: hidden;
  }
  .card, .card * {
    visibility: visible;
  }
  .card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .card-header {
    background: none !important;
  }
  .card-header h3, .card-footer h5 {
    visibility: visible;
  }
  .card-body table {
    width: 100%;
  }
}

.card{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.card-header{
    background-image: url(../../../../assets/image/pixelcut-export.png);
    background-position: 0;
    background-size: cover;
    padding-left: 25px;
    border: none;
}
.contenido-header {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 15px;
  color: #2c2a3b;
  position: relative;
  z-index: 1;

}
.card-body{ 
    padding: 0;
    border: none; 
}
.card-footer{
  border: none;
  padding-top: 0;
}
.button-group{
    display: flex;
    flex-direction: row;
}

.input-container {
  position: relative;
  width: 100%;
}
.input-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: rgb(32, 32, 57); /* Color de la lupa */
}
.input-container .form-control {
  padding-left: 35px; /* Espacio para el SVG */
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #000000;
}


/* Media query para pantalla de 827px de ancho */
@media (max-width: 827px) {
  .btn {
    font-size: 15px; /* Tamaño de fuente ajustado para 827px de ancho */
  }
}

/* Media query para pantalla de 793x650 */
@media (max-width: 793px) and (max-height: 650px) {
  .btn {
    font-size: 14px; /* Tamaño de fuente ajustado para 793x650 */
  }
}

/* Media query para pantallas aún más pequeñas */
@media (max-width: 768px) {
  .btn {
    font-size: 12px; /* Tamaño de fuente para pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .btn {
    font-size: 10px; /* Tamaño de fuente para pantallas muy pequeñas */
  }
}
  