<app-nav></app-nav>
<div class="fondo">
  <br><br><br><br>
  <h2 class="text-center">Cuentas de pedidos</h2>
  <br>
  <div class="container">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar por nombre de mesa o razon social " [(ngModel)]="textoBuscador" (ngModelChange)="onSearchChange($event)" >
    </div>
    <div class="row">
      <div *ngFor="let pedido of pedidosPorMesa" class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <h3 class="text-center">{{ pedido.nombreMesa }}</h3>
            <p>Estado: {{ pedido.estadoP }}<br>Razón Social: {{ pedido.razon_social }}<br>NIT: {{ pedido.nit }}</p>
          </div>
          <div class="card-body" style="overflow-y: auto; max-height: 200px;">
            <table class="table">
              <thead class="text-center table-dark">
                <tr>
                  <th>Plato</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <!-- Iterar sobre todos los pedidos de la mesa -->
                <ng-container *ngFor="let pedidoItem of pedido.pedidos">
                  <!-- Iterar sobre todos los platillos en cada pedido -->
                  <ng-container *ngFor="let plato of pedidoItem.platos">
                    <tr>
                      <td>{{ plato.nombre }}</td>
                      <td>{{ plato.pivot.cantidad }}</td>
                      <td>{{ plato.precio }} Bs</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <h5 class="text-end">Total: {{ pedido.pedidos[0].cuenta.monto_total}} Bs</h5>
            <div>
              <div class="row">
                <div class="col-6 pt-0">
                  <button class="btn btn-aceptar w-100" (click)="CerrarCuenta(pedido.idCuenta)">Cerrar</button>
                </div>
                <div class="col-6 pt-0">
                  <button class="btn btn-imprimir w-100">Imprimir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
