* {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.container {
    width: 1000px;
    /* Ancho fijo */
    height: 100vh;
    /* Altura en función del viewport */
    // overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

h1 {
    font-size: 62px;
}

.menu-titulo-pagina {
    background-size:cover;
    font-family: "Sedan", serif;
    font-size: 40px;
  font-style:normal;
    
}

.pagina-platillo h2{
    font-family: 'Sedan', cursive;
    font-size: 25px;
}
.categoria-titulo h2{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #f77103;
    text-transform: uppercase;
    font-size: 15px;
}
.contenedor-menu-imagen h3{
    font-family: 'Sedan';
    font-size: 20px;
    font-weight: bold;
}
.menu-cuerpo{
    font-family: 'Sedan';
}

.menu-cuerpo-platillo{
    font-family: 'Sedan';
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.menu-cuerpo-descripcion{
    font-family: 'Sedan';
    font-size: 14px;
    font-style: normal;
    margin-bottom: 5px;
    color: dimgray;
}
.menu-cuerpo-precio{
    font-size: 12px;
    font-style: normal;
    color: dimgray;
    width: 40px;
    margin-left: 5px;
}

.bienvenida {
    font-size: 40px;
    // font-weight: 600;
}

.portada {
    background-size: cover;
    /* La imagen se ajustará para cubrir todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    font-family: 'Montserrat', sans-serif;
    color: beige;
    /* similar a portada-interiror*/
    width: 8.5in;
    /* Ancho de carta */
    height: 11in;
    /* Alto de carta */
    background-color: white;
    /* Color de fondo para simular el papel */
    padding: 1.2in;
    /* Margen interior para el contenido */
    box-sizing: border-box;
    /* Incluye el padding en el tamaño total */
    page-break-after: always;
    /* Asegura que cada página se imprima en una hoja separada */
    border: 1px solid rgb(24, 7, 1);
}

.portada-interior {
    // border: 2px double inl rgb(253, 253, 253);
    border: 4px double rgb(238, 230, 230);
    // box-sizing: border-box;
    height: 100%;
}

.pagina-platillo {
    // margin-bottom: 50px;
    width: 8.5in;
    /* Ancho de carta */
    height: 11in;
    /* Alto de carta */
    background-color: white;
    /* Color de fondo para simular el papel */
    // padding: 0.4in;
    /* Margen interior para el contenido */
    box-sizing: border-box;
    /* Incluye el padding en el tamaño total */
    page-break-after: always;
    /* Asegura que cada página se imprima en una hoja separada */
    border: 1px solid rgb(24, 7, 1);
}

.pagina-interior {
    // border: 2px double inl rgb(253, 253, 253);
    border: 2px solid rgb(168, 156, 156);
    // box-sizing: border-box;
    height: 100%;
    background-color: #ece8e2;
    // padding: 0px;
}



.contenedor-menu-imagen {
    // height: 100%; /* Ajusta la altura del contenedor para que ocupe toda la altura del padre */
    background-size: cover !important;
    /* Ajusta el tamaño de la imagen de fondo para que cubra todo el contenedor */
    background-position: center;
    background: rgb(62, 57, 33);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 0px;
    
}

.contenedor-menu-imagen p  {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    width: 30%;
}

.contenedor-menu-imagen p, .contenedor-menu-imagen h3{
    padding-left: 20px;
}

.contenedor-menu-imagen-cabeza,
.contenedor-menu-imagen-footer {
    color: aliceblue;
    background-color: rgba(87, 82, 78, 0.384);
}

