<app-nav></app-nav><br><br>
<div class="fondo">
    <br>
    <div class="filtro">
      <div class="row row-nav">
        <ul class="nav nav-underline justify-content-center mb-2">
          <li class="nav-item ms-3" (click)="MostrarTodos()">
            <a class="nav-link" role="tab" aria-controls="categoria0"
                aria-selected="true">Todos los pedidos</a>
        </li>
            <li class="nav-item ms-3">
                <a class="nav-link" role="tab" aria-controls="categoria0"
                    aria-selected="true" (click)="enPreparacion()">En preparacion</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" role="tab" aria-controls="categoria0"
                  aria-selected="true" (click)="terminado()">Terminados</a>
          </li>
          <li class="nav-item ms-3" (click)="paraLlevar()">
            <a class="nav-link" role="tab" aria-controls="categoria0"
                aria-selected="true">Para Llevar</a>
        </li>
        <li class="nav-item ms-3" (click)="paraAqui()">
          <a class="nav-link" role="tab" aria-controls="categoria0"
              aria-selected="true">Para Aqui</a>
      </li>
            <!-- Agrega más elementos de navegación según sea necesario -->
        </ul>
    </div>
    </div>
    <div class="pedidos-container">
    <div class="pedidos" *ngIf="pedidosMostrar.length > 0; else noPedidos">
      <div *ngFor="let pedido of pedidosMostrar">

        <div class="card"  [ngClass]="{
          'card-terminado': pedido.estado ==='Servido',
          'card-en-preparacion': pedido.estado === 'En preparación',
          'card-default': pedido.estado !== 'Servido' && pedido.estado !== 'En preparación'
        }">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div>
                <h2>{{pedido.hora}}</h2>
              </div>
              <i *ngIf="pedido.tipoPedido === 'llevar'" class="bi bi-bag-fill"></i>
              <i *ngIf="pedido.tipoPedido === 'local'" class="bi bi-house-door-fill"></i>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{pedido.mesa}}</h6>
              <p class="card-text">Tipo de pedido: {{pedido.tipoPedido}}</p>
              <p class="card-text">Estado: {{pedido.estado}}</p>
            </div>
            <div class="card-actions d-flex justify-content-center pt-2">
              <button class="btn btn-ver" data-bs-toggle="modal" data-bs-target="#verPedido" (click)="verPlatos(pedido.numPedido)">Ver pedido</button>
          </div>
        </div> 

        </div>
      </div>
      </div>
    </div>
      <ng-template #noPedidos>
        <p>No hay Pedidos.</p>
      </ng-template>
<app-modal-estado-pedido></app-modal-estado-pedido>
