.pedidos-container {
    margin-left: 100px;
    display: flex;
    justify-content: center;
  }
  
  .pedidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .pedidos .card {
    flex: 0 1 calc(20% - 10px); /* 5 cards per row, with spacing */
    margin: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  }
.card-body{
  background-color: white;
}
  /* Estado: Terminado */
.card-terminado {
  background-color: rgb(173, 236, 173);
}
/* Estado: En Preparacion */
.card-en-preparacion {
  background-color: rgb(247, 232, 168);
}
/* Estado por defecto */
.card-default {
  background-color: rgb(240, 162, 128);
}  
.btn-ver{
    background-color: rgb(255, 255, 255);
}
.card-actions{
  padding-bottom: 5px;
}
  /* Media query for smaller screens */
@media (max-width: 1200px) {
    .pedidos .card {
      flex: 0 1 calc(25% - 10px); /* 4 cards per row */
    }
}
  
  @media (max-width: 992px) {
    .pedidos .card {
      flex: 0 1 calc(33.33% - 10px); /* 3 cards per row */
    }
  }
  
  @media (max-width: 768px) {
    .pedidos .card {
      flex: 0 1 calc(50% - 10px); /* 2 cards per row */
    }
  }
  
  @media (max-width: 576px) {
    .pedidos .card {
      flex: 0 1 calc(100% - 10px); /* 1 card per row */
    }
  }
  .nav-link{
    color: black;
    size: 40px;
  }